* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    width: 90%;
}

.posts-json {
    padding: 20px;
}

.posts-table {
    padding: 20px;
}

.posts-table__item--grey {
    background-color: #dddddd;
}